In [1]:
import pandas  as pd # Pandas is a library for data manipulation and analysis. It offers data structures and operations for tables
import numpy   as np # NumPy is a library, supporting for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

bl = pd.read_excel('credit_card_data.xlsx',sheet_name='Bill_Last6Months') # loads the data file
dm = pd.read_excel('credit_card_data.xlsx',sheet_name='Demographic') # loads the data file

In [2]:
bl['Bill_Amount'] = np.select([pd.to_numeric(bl['Bill_Amount']) != 0 ], [1])
bl['Bill_Amount'].replace({0:'no',1:'yes'}, inplace=True) # If a bill is issued returns 'yes' otherwise 'no' 

bl_new = bl.pivot(index='ID', columns='Month', values='Bill_Amount') # Reshaphes DB to be merged with 'dm'

db = pd.merge(bl_new, dm, on="ID") # Merges 'bl' and 'dm' DBs

db = db.dropna() # Removes rows with NaN values

In [3]:
db.columns = ['ID',
              'DATE-2021-07-01',
              'DATE-2021-08-01',
              'DATE-2021-09-01',
              'DATE-2021-10-01',
              'DATE-2021-11-01',
              'DATE-2021-12-01',
              'ACCOUNT_TYPE',
              'LIMIT_BAL',
              'GENDER',
              'AGE',
              'MARITAL_STATUS',
              'EDUCATION',
              'JOB_TYPE',
              'HOUSING',
              'LOAN',
              'default payment in Jan 2022'] # Renames the columns in DB for convience

* Now we would like to checkout columns for any possible defects by grouping the available data in each column. 
<br />
If a defct is detected, it will be fixed by 'replace' command.

In [4]:
print(db.groupby('DATE-2021-12-01').size())

DATE-2021-12-01
no      3969
yes    25896
dtype: int64

In [5]:
print(db.groupby('ACCOUNT_TYPE').size())

ACCOUNT_TYPE
Current account    15726
Salary account     11162
Savings account     2977
dtype: int64

In [6]:
# print(db.groupby('GENDER').size())
db['GENDER'].replace({259225:'Female'}, inplace=True)
print(db.groupby('GENDER').size())

GENDER
Female    18005
Male      11860
dtype: int64

In [7]:
# print(db.groupby('MARITAL_STATUS').size())
db['MARITAL_STATUS'].replace({'Dirvoce':'Divorced','yes':'unknown'}, inplace=True)
print(db.groupby('MARITAL_STATUS').size())

MARITAL_STATUS
Divorced     3497
Married     18819
Single       7491
unknown        58
dtype: int64

In [8]:
# print(db.groupby('EDUCATION').size())
db['EDUCATION'].replace(
    {'Female':'unknown',
     'Male':'unknown',
     'School':'unknown',
     'unknown+G21962':'unknown',
      'HIghSchool':'High school',
    'Vcaotional degree':'Vocational degree'
    }, inplace=True)
print(db.groupby('EDUCATION').size())

EDUCATION
College degree       3362
High school          6347
Middle school        2238
No education           17
Primary school       4320
Secondary school     4808
Vocational degree    7256
unknown              1517
dtype: int64

In [9]:
# print(db.groupby('JOB_TYPE').size())
db['JOB_TYPE'].replace(
    {29:'unknown',
     49685:'unknown',
     'Admin.':'Administration',
      'unemployed':'Unemployed'
    }, inplace=True)
print(db.groupby('JOB_TYPE').size())

JOB_TYPE
Administration    6924
Business owner    1483
Entreprenuer      1266
House help        1075
Management        2043
Part-time         6660
Retired            909
Services          2788
Student            274
Technician        5224
Unemployed         962
unknown            257
dtype: int64

In [10]:
print(db.groupby('HOUSING').size())

HOUSING
no         13907
unknown      731
yes        15227
dtype: int64

In [11]:
print(db.groupby('LOAN').size())

LOAN
no         24608
unknown      733
yes         4524
dtype: int64

In [12]:
print(db.groupby('default payment in Jan 2022').size())

default payment in Jan 2022
0.0    26552
1.0     3313
dtype: int64

In [13]:
db.to_excel('database_fixed.xlsx', sheet_name='db_merged_bill_demo', index = False) # Stores the fixed database as a new file 'database_fixed.xlsx'